<section class='row pt-10' id={{anchor}}>
  <div class='big-image contact-image'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-12 pt-10'><h1 class='white'>{{heading}}</h1></div>
        <div class='col-sm-12'><h4 class='white'>{{subheading}}</h4></div>
        <div class='col-md-12 hidden-sm pt-10'></div>
        <div class='col-md-6'><h4 class='white'>Mobile: {{mobile}}</h4></div>
        <div class='col-md-6'><h4 class='white'>Email: {{email}}</h4></div>
        <div class='col-md-12 hidden-sm pt-10'></div>
      </div>
    </div>
  </div>
</section>
