<section class='row full-height'>
  <div class='big-image home-image'>
    <div class='padding-center'>
      <h1 class='white display-3 pb-3'>{{heading}}</h1>
      <h3 class='white pb-3'>{{subheading}}</h3>
      {{#button}}
        <a href='{{link}}' class='btn btn-{{style}}'>{{text}}</a>
      {{/button}}
    </div>
  </div>
</section>
