<section class='row header-height text-center'>
  <div class='big-image header-image'>
    <div class='padding-center-header'>
      <h1 class='white display-4'>{{heading}}</h1>
      {{#subheading}}<h4 class='white'>{{subheading}}</h4>{{/subheading}}
    </div>
  </div>
</section>
